<div class="jumbotron center">
<h1>Welcome to My Mock Pinterested App</h1>
<p>My second guided app!</p>

<%=link_to 'Login', root_path, class: 'btn btn-default' %>
<%=link_to 'Signup', root_path, class: 'btn btn-primary' %>

</div>